h1 {
    color: whitesmoke;
    background-color: blue;
        font-size: 35px;
        font-family: sans-serif, Helvetica; 
        text-align: center;
}

img {
    align-content: center;
    width: 200px;
}